#CREAR EL ARCHIVO .env EN LA RAIZ DEL PROYECTO CON EL SIGUIENTE CONTENIDO:
# Y AGREGAR TU URL DE BACKEND EN LA VARIABLE VITE_APP_BASE_URL
VITE_APP_BASE_URL=

# Y AGREGAR TU CLAVE DE API DE GOOGLE MAPS EN LA VARIABLE VITE_GOOGLE_MAPS_API_KEY
VITE_GOOGLE_MAPS_API_KEY=TU_CLAVE_DE_API_DE_GOOGLE_MAPS

# CLOUDINARY (frontend): nombre de cloud para construir URLs optimizadas
VITE_CLOUDINARY_CLOUD_NAME=cloudinary://<812239129811373>:<0Bqr-4z5J_ibwqz6H3kjbX0OOsQ>@dh8zaedgv