#CREAR EL ARCHIVO .env EN LA RAIZ DEL PROYECTO CON EL SIGUIENTE CONTENIDO:
# Y AGREGAR TU URL DE BACKEND EN LA VARIABLE VITE_APP_BASE_URL
VITE_APP_BASE_URL=

# Y AGREGAR TU CLAVE DE API DE MAPBOX EN LA VARIABLE VITE_MAPBOX_ACCESS_TOKEN
VITE_MAPBOX_ACCESS_TOKEN=TU_CLAVE_DE_API_DE_MAPBOX

# CLOUDINARY (frontend): nombre de cloud para construir URLs optimizadas
VITE_CLOUDINARY_CLOUD_NAME=