# Entornos virtuales
venv/
env/
ENV/

# Python cache
**/__pycache__/
*.pyc

# Variables de entorno (¡Súper importante!)
.env

# Archivos de respaldo locales y scripts temporales
Backups/
hacer_backup.py
*.sql

# Archivos de sistema
.DS_Store
Thumbs.db