#python -c "import secrets; print(secrets.token_urlsafe(50))" => ejecuta este comando y pega la llave
SECRET_KEY=pega tu llave
DEBUG=True

DB_NAME=Inmobiliaria
DB_USER=postgres
DB_PASSWORD=contraseña
DB_HOST=localhost
DB_PORT=5432

# Producción 
# DATABASE_URL=tu url


FRONTEND_URL=http://localhost:5173
AUTH_COOKIE_SECURE=False
AUTH_COOKIE_SAMESITE=Lax

RESEND_API_KEY=crea una cuenta en resend
DEFAULT_FROM_EMAIL=onboarding@resend.dev

# Cloudinary
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=z