#python -c "import secrets; print(secrets.token_urlsafe(50))" => ejecuta este comando y pega la llave
SECRET_KEY=pega tu llave
DEBUG=True

DB_NAME=Inmobiliaria
DB_USER=postgres
DB_PASSWORD=gabo2004
DB_HOST=localhost
DB_PORT=5432

# Producción 
# DATABASE_URL=tu url


FRONTEND_URL=http://localhost:5173
BITACORA_ACCESS_PASSWORD=pon_una_clave_segura_para_la_bitacora
AUTH_COOKIE_SECURE=False
AUTH_COOKIE_SAMESITE=Lax

RESEND_API_KEY=crea una cuenta en resend
DEFAULT_FROM_EMAIL=onboarding@resend.dev

# Cloudinary
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=z

#
EMAIL_HOST_USER=correo
EMAIL_HOST_PASSWORD=password

# Configuración de Cloudflare R2 (BACKUPS)
R2_ACCESS_KEY_ID=tu_access_key_aqui
R2_SECRET_ACCESS_KEY=tu_secret_key_aqui
R2_BUCKET_NAME=name del bucket
R2_ENDPOINT_URL=https://tu_id_de_usuario.r2.cloudflarestorage.com

#gemini apy key
GEMINI_API_KEY=apikey
