
# PYTHON / DJANGO

# Archivos compilados / caches 
__pycache__/
*.cpython-313
*.pyc
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Entornos virtuales 
.env
.venv/
.http
venv


# Archivos de configuración local → NO subir
local_settings.py
db.sqlite3

# Archivos generados / media 
media/
staticfiles/

# Migraciones → OPCIONAL
# */migrations/*.py
# !*/migrations/__init__.py


# Celery → NO subir
celerybeat-schedule
celerybeat.pid

# Coverage / testing 
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy → NO subir
.mypy_cache/
.dmypy.json
dmypy.json
*.pyc
*.cpython-*
